@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply text-[#3c3c3c];
  }
  h1 {
    @apply text-3xl md:text-6xl text-[#3c3c3c];
  }
  h2 {
    @apply text-2xl md:text-4xl text-[#3c3c3c]
  }
  h3 {
    @apply text-lg md:text-2xl text-[#3c3c3c]
  }
  h4 {
    @apply text-lg text-[#3c3c3c]
  }
  p {
    @apply text-[#3c3c3c] text-sm md:text-base
  }
  li {
    @apply ease-in-out md:hover:border-b-[3px] md:hover:border-[#2ea4fb]
  }
}


.grain-bg {
  height: 100%;
  width: 100%;
  background-image: url('/grain.png');
  background-position: 0 0;
  background-size: 300px 300px;
}
body {
  background-color: white;
  color: black;
}

a, svg, div {
  -webkit-tap-highlight-color: transparent;
}