@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply text-[#3c3c3c];
  }
  h1 {
    @apply text-6xl text-[#3c3c3c];
  }
  h2 {
    @apply text-4xl text-[#3c3c3c]
  }
  h3 {
    @apply text-2xl text-[#3c3c3c]
  }
  h4 {
    @apply text-lg text-[#3c3c3c]
  }
  p {
    @apply text-[#3c3c3c]
  }
  li {
    @apply ease-in-out
  }
}

li:hover {
  border-bottom: solid #2ea4fb;
}

.grain-bg {
  height: 100%;
  width: 100%;
  background-image: url('/grain.png');
  background-position: 0 0;
  background-size: 300px 300px;
}
body {
  background-color: white;
  color: black;
}